
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900');

body {font-family: 'Poppins', sans-serif !important;}

.btn-all {height: 38px; line-height: 38px; padding: 0 20px; color: #325C7D; background: #8AFCEF; font-size: 14px; border: none; border-radius: 0px !important}
.btn-all:hover {background: #325C7D; color:#8AFCEF; }
/*===================header===================*/

header {position: fixed; float: left; width: 100%; z-index: 999; top: 30px;}
header .logo {float: left; width: 200px; height: 173px;}
header .logo a {float: left; width: 100%; height: 100%; background: #8AFCEF; text-align: center; padding: 25px; box-sizing: border-box;}
header .logo a img {display: inline-block;}

.head-info {padding-right: 40px}
.head-info button {margin-right: 15px;}
.head-info span {font-size: 20px; cursor: pointer; height: 38px; background:#8AFCEF; color: #183A4A; padding: 4px 12px; float: right;}


.sidenav {height: 100%; width: 0; position: fixed; z-index: 1; top: 0; right: 0; background-color: #8AFCEF; overflow-x: hidden; transition: 0.5s; padding-top: 60px; box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)}
.sidenav a {padding: 8px 8px 8px 32px; text-decoration: none; font-size: 18px; color: #183A4A; display: block; transition: 0.3s; }
.sidenav a:hover, .sidenav a:focus {background: #325C7D; color:#8AFCEF; }
.sidenav .closebtn {position: absolute; top: 0; right: 25px; font-size: 36px; margin-left: 50px; }
.sidenav .closebtn:hover, .sidenav .closebtn:focus {background: none; color: #183A4A !important;}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



/*===================banner-bg===================*/
section.banner-bg {float: left; width: 100%; overflow: hidden;}
section.banner-bg img {float: left; width: 100%; position: relative;}
section .banner-info {position: absolute; left: 10%; top: 40%;}
section .banner-info h4 {font-size: 65px; color: #fff; margin: 0; padding: 0;}


/*===================peopl-bg===================*/
section.peopl-bg {float: left; width: 100%;}
section.peopl-bg ul {float: left; width: 100%; padding: 0; margin: 0;}
section.peopl-bg ul li {float: left; width: 50%; position: relative; list-style: none;}
section.peopl-bg ul li a {float: left; width: 100%;}
section.peopl-bg ul li a img {float: left; width: 100%;}
section.peopl-bg ul li a .detail {position: absolute; top: 50%; bottom: 0; right: 20px;}
section.peopl-bg ul li a .detail p {color: #183A4A; font-size: 18px; margin: 0;}
section.peopl-bg ul li a .detail h3 {color: #183A4A !important; font-size: 45px; margin: 0; padding: 10px 0;}
section.peopl-bg ul li a .detail.second {left: 30px;}

/*===================people-detail-bg===================*/
section.people-detail-bg {float: left; width: 100%;}
.people-detail-bg .intro {float: left; width: 50%; padding: 50px 30px; }
.people-detail-bg .intro p {color: #646464; font-size: 28px; text-align: right; width: 70%; float: right; padding: 10px 0;}
.people-detail-bg .option-list {float: left; width: 50%; padding-left: 10%; background: #FAF8F8;}
.people-detail-bg .option-list li {float: left; width: 100%; padding: 15px 0; list-style: none;}
.people-detail-bg .option-list li .icon {float: left; width: 200px;}
.people-detail-bg .option-list li .icon img{float: left; width: auto;}
.people-detail-bg .option-list li h6{float: left; width: auto; color: #646464; font-size: 25px; padding: 70px 0;}

/*===================call-bkg ===================*/
section.call-bkg {float: left; width: 100%; background: #325C7D; padding: 70px 0; text-align: center; margin: 0;}
section.call-bkg p {color:#8AFCEF; font-size: 40px;}
section.call-bkg p abbr {background: #8AFCEF; color: #325C7D; padding: 6px; box-sizing: border-box;}

/*===================sub-bg===================*/
section.sub-bg {float: left; width: 100%; text-align: center;}
section.sub-bg img {float: left; width: 100%}
section.sub-bg .newsletter {width: 100%; text-align: center; display: block; background: #fff; padding: 80px 0; float: left;}
section.sub-bg .newsletter h4 {color: #646464; font-size: 40px;}
section.sub-bg .newsletter form {width: 40%; margin: 0 auto}
section.sub-bg .newsletter form .form-group {float: left; width: 100%}
section.sub-bg .newsletter form .form-group input{width: 85%; height:55px; color: #325C7D; background: #8AFCEF; padding: 0 0 0 20px; border: 0; border-radius: 0; float: left; margin-right: 10px;}
section.sub-bg .newsletter form .form-group button {height:55px; color: #fff; background: #325C7D;border: 0; border-radius: 0; padding: 0 20px; float: right;}
section.sub-bg .newsletter form .form-group button:focus {outline: none !important; border: 0px !important}


footer {float: left; width: 100%; background-color: #183A4A; padding:50px 0;}
footer .footer-links {float: left; width: 100%;}
footer .footer-links h4 {float: left; width: 100%; color: #fff; text-transform: uppercase; font-size: 10px; padding: 0; margin: 0;}
footer .footer-links h4 a {float: left; width: 100%; color: #fff}
footer .footer-links p {color: #fff; font-size: 14px; line-height: 24px; margin: 0; padding: 40px 0;}
footer .footer-links p a {color: #fff}
footer .footer-links p abbr {width: 100px; float: left;}

footer .social-link {float: right;text-align: right;}
footer .social-link a {float: left; width: auto; margin: 0 10px;}
footer .social-link a i {color: #fff;}

footer .footer-bottom {float: left; width: 100%; padding:30px 0 0 0; border-top: 1px solid #fff; margin-top: 40px;}
footer .footer-bottom p {float: left; width: 100%; margin: 3px 0; padding: 0; color: #4E94B0;}
footer .footer-bottom p span{float: left; width: 300px;}
footer .footer-bottom p a{color: #4E94B0}
.p-t-50 {padding-top: 50px !important;}
